TOKEN=123

DB_MYSQL_HOST=mariadb
DB_MYSQL_USER=admin
DB_MYSQL_PASS=admin
DB_MYSQL_PORT=3306

DB_PGSQL_HOST=postgres
DB_PGSQL_USER=admin
DB_PGSQL_PASS=admin
DB_PGSQL_PORT=5432
DB_PGSQL_ADMIN_NAME=postgres